
<div>
    <div class="header">
        <div class="subHeading"><h1 id="leftArrow"> < </h1></div>
        <div class="subHeading"><h1 id="monthAndYear"> {{monthAndYear}} </h1></div>
        <div class="subHeading"><h1 id="rightArrow"> > </h1></div>
    </div>
    <div class="calendar">
        <div class="calendarHeader">
            {{#each weekdays as |weekday|}}
                <div class="weekDayName">
                    <h5 class="mainName">{{weekday}}</h5>
                </div>
            {{/each}}
        </div>
        <div class="calendarBody">
        {{#each weekList as |list|}}
            <br>
                <div class="calendarWeek">
                    {{#each list}}
                            <div class="calendarDate {{#if today}}thisIsToday{{/if}} js-calendarDate">
                                <p class="calNr"> {{dateNr}} </p>
                               <!--TODO: implement number of events per day-->
                                <!--{{#if nrOfEvents}}{{nrOfEvents}}{{/if}}-->
                            </div>

                    {{/each}}
                </div>
        {{/each}}
        </div>
    </div>
</div>