<style>
    .dateNr{
        margin: 10px;
        float:left;
        display: table;
    }

</style>

<h1> Friggi </h1>
<div>
    {{#each dayList}}
        <div class="dateNr">
            {{dateNr}}
        </div>
    {{/each}}
</div>
